.required-field {
    color: red;
}

.box {
    padding: 2rem 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    margin-top: 3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.left-contact {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6E50C3;
    color: #fff;
    border-radius: 20px;
    justify-content: center;
}

.left-contact img {
    width: 70%;
}

.left-contact h5 {
    margin-top: 2rem;
}

.left-contact p {
    margin: 0;
}

.left-contact p:nth-child(1) {
    margin-bottom: 1rem !important;
}

.left-contact a {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.social-page {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.social-page i:nth-child(1) {
    font-size: 40px;
}

.social-page i:nth-child(2) {
    font-size: 40px;
}

.social-page i:nth-child(3) {
    font-size: 40px;
}

.right-contact {
    padding: 2rem 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-contact p {
    margin: 0;
}

.form-group input {
    border-radius: 30px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.form-group:nth-child(4) {
    display: flex;
    flex-direction: column;
}

.form-check:nth-child() {
    width: 90px;
}

.form-check .form-check-label {
    margin-left: unset !important;
}

.right-contact table,
tbody,
tr {
    width: 100%;
}

.wrapper #file-input {
    display: none;
}

.wrapper label[for='file-input'] * {
    vertical-align: middle;
    cursor: pointer;
}

.wrapper label[for='file-input'] span {
    margin-left: 10px
}

.wrapper i.remove {
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}

.form-check {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
}

.form-check input[type='radio'] {
    display: none;
}

.form-check label {
    font-weight: 450;
}

.form-check label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    right: 14px;
    margin: 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #6E50C3;
    background-color: transparent;
}

.form-check input[type=radio]:checked+label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #6E50C3;
}

#inputMessage {
    padding: 1rem 1rem 150px 1rem;
    border-radius: 20px;
}

.btn-send-message {
    color: #fff !important;
    background-color: #6E50C3 !important;
    transition: 0.2s;
}

.btn-send-message:hover {
    background-color: #6b4dbb !important;
}