body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    align-items: center;
}

.left-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.left-login h2 {
    margin-bottom: 1rem;
}

.required-field {
    color: red;
}

.btn-google {
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-transform: uppercase !important;
    display: block;
    width: 65%;
    background-color: white;
    border: solid;
    border-width: 1.25px;
    border-color: #d0d0d0;
    transition-duration: 0.2s;
}

.btn-google:hover {
    background-color: #fafafa;
}

.btn-google img {
    width: 7%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    padding: 8px;
    font-size: .75rem;
}

a.button {
    transition-duration: 0.2s;
}

a.button:hover {
    color: white;
}

.signin-with-email {
    padding: 2rem 0;
    color: #D0D0D0;
    font-size: 1vw;
}

.form-group {
    display: flex;
    flex-direction: column;
}

form {
    width: 65%;
}

.form-group input {
    border-radius: 30px !important;
    width: 100%;
    padding: 1.3rem;
}

.rem-and-for {
    display: flex;
    justify-content: space-between;
    color: #5138EE;
    align-items: center;
}

.rem-and-for a {
    color: #5138EE;
    text-decoration: none;
}

.btn-login {
    color: #fff !important;
    background-color: #5138EE !important;
    border: 1px solid #412cc4 !important;
    border-radius: 5rem !important;
    letter-spacing: .1rem !important;
    font-weight: bold !important;
    padding: 1vw !important;
    width: 100% !important;
    margin-top: 2rem !important;
    font-size: 1.2vw !important;
}

.btn-login:hover {
    color: #fff !important;
    background-color: #412cc4 !important;
    border-color: #412cc4 !important;
}

.copyright small {
    padding-top: 2.8rem;
    color: #9792AE;
    display: flex;
    font-size: 1vw;
    width: 100%;
}

.logo {
    width: 30%;
    margin-bottom: 2rem;
}

.illustration {
    width: 60%;
}

.quotation {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.4vw;
    text-align: center;
}

.author {
    color: #fff;
    padding-top: 1rem;
}