.card {
    border-radius: 20px !important;
}

.list-group-item.active {
    color: #fff !important;
    border-radius: 0 !important;
}

.form-control {
    padding: 1.3rem .75rem !important;
}

.btn {
    padding: 0 1.5rem !important;
    height: 44px !important;
}

.input-group-prepend,
.input-group-text {
    height: 44px !important;
}

.list-group .active {
    padding: 14px 18px !important;
}

.modal-footer .btn {
    border: 1px solid #0069D9 !important;
}

.btn-group a {
    display: flex;
    align-items: center;
    justify-content: center;
}